<!DOCTYPE html>
<HTML lang="en">

<head>
  <meta charset="UTF-8">
  <title>sHOO</title>
</head>

<link rel="stylesheet" type="text/css" href="/styles.css">
<HR>
<div class="hit-the-floor">sHOO</div>
<CENTER><I><B>Forget The Choo, try The sHOO!</B></I></CENTER>
<HR>

<body>
  <%= yield  %>
</body>
</html>