<link rel="stylesheet" type="text/css" href="/styles.css">

<!-- <div class="hit-the-floor">sHOO</div>
<CENTER><I>Forget The Choo, Try The sHOO!</I></CENTER><BR>
 -->



<FORM action="/shoe" method="post">

<CENTER><TABLE BORDER='1px' WIDTH='60%' BGCOLOR='#DA70D6'><TD>
<CENTER><h1><I><Font Color='pink' Size='10'>Order Details</I></h1>
  </CENTER></TD></TABLE>

<!-- <CENTER><TABLE BORDER='1px' WIDTH='60%'><TD>
<CENTER><h1><U><I>Order</I></U></h1>  
  </CENTER></TD></TABLE> -->


  <CENTER><TABLE BORDER='1px' WIDTH='60%'><TD>
<label for="first_name">First Name:</label>
</TD>
<td bgcolor='white'>
<input type="text" name="first_name"></td><TR>
<TD><label for="last_name">Last Name:</label></TD>
<TD bgcolor='white'>
<input type="text" name="last_name"></TD><TR>
<TD>
<label for="style">Select a shoo</label></TD>
<TD bgcolor='white'>
<select name="style">
<option value="Croc">Crocs</option>
<option value="Clogs">Clogs</option>
<option value="Moccasin">Moccasin</option>
<option value="Wedge">Wedge</option>
</select></TD><TR>
<TD >
<label for="quantity">Quantity:</label></TD>
<TD bgcolor='white'><select name="quantity">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
</select></TD><TR>

 
<TD ><label for="size">Size:</label></TD>
<TD bgcolor='white'><select name="size">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
</select></TD>
 
<TR ><TD<TR>
<!-- <label for="size">Size:</label></TD><TD>
<!-- <input type="number" name="size"></TD><TR> -->
<TR><TD bgcolor='white' colspan='2'><CENTER><input  color='Red' type="submit" value="Order Confirmation"
 WIDTH='30%'></CENTER>
</TABLE>





</FORM>